.container {
  min-height: 100vh;
}


.topBar {
  margin: 0;
  width: 100vw;
  height: 70px;
  background: rgb(186, 113, 45);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  
}

.topBar p{
  margin: 0;
}



@media screen and (min-width: 1024px) {
  .topBar {
    font-size: 1.2rem;

  }
  }


@media screen and (max-width: 600px) {
  .topBar {
    font-size: 1rem;

  }
  }

  @media screen and (max-width: 400px) {
    .topBar {
      font-size: .8rem;
  
    }
    }

    .top_section {
      height: 120vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(94, 42, 102);
      color: white;

    }

    @media screen and (max-width: 800px) {
      .top_section {
        height: 80vh;

      }
      }



    .top_text{
      margin-top: 40px;
      height: 20%;
      text-align: center;
      width: 60%;
      font-size: 2.3rem;
      display: flex;
      align-items: center;
      
    }

    @media screen and (min-width: 1024px) {
      .top_text {
    
      }
      }
    
    
    @media screen and (max-width: 900px) {
      .top_text {
        margin-top: 10px;
        font-size: 1.7rem;
        width: 90%;


      }
      }
    
      @media screen and (max-width: 400px) {
        .top_text {
          font-size: 1.8rem;

        }
        }
    

    .video {
      height: 100%;

    }


    .video_src {
      width: 70%;
      
    }
    @media screen and (max-width: 600px) {
      .video_src {
        width: 90%;


      }
      }


    .top_button {
      height: 100px;
      min-width: 200px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: none;
      background: orange;
      cursor: pointer;
      color: white;
    
    }

    .top_mid_section {
      
    }
  
    
  



